body{
  margin: 0;
  background: #FEFDF3;
  font-weight: 240;
}

.container{
  width: 96%;
  margin: 0 auto;
}

header{
  background: #0B0B0B;
}
header::after{
  content: '';
  display: table;
  clear: both;
}

.navlogo{
  float: left;
  padding: 2px,1px;
}

nav{
  float: right;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li{
  display: inline-block;
  margin-left: 52px;
  padding-top: 14px;
}

nav a{
  color: #FCFAEA;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
}
